extends ../content

block script
    +script("inv",['js/part_trace_history.js'])
block style
  style.
    #tbar {
    } #tbar label {
      margin-left:16px;
      margin-right:4px;  
    }
    
    .partrow {
      background-color:rgba(230, 230, 250, 0.3);
      color:black;
    }
    
    .negative {
      color: red;	    
    }
    .demand,
    .datagrid-header td[field=DEMAND_DOC],
    .datagrid-header td[field=DEMAND_QTY] {
      color: blue;   
    }

    .supply,
    .datagrid-header td[field=SUPPLY_DOC],
    .datagrid-header td[field=SUPPLY_QTY] {
      color: green;    
    }
    
block content
  #tbar
    div(style="display:inline-block")
      +form#gfilter
        //- [auto] qbe→combobox: +fitem('Part Filter',{class:'qbe navi fit', id:'PART_ID_',name:'PART_ID' },{class:'inline'})
        +fitem('Part Filter',{class:'combobox navi fit', id:'PART_ID_',name:'PART_ID' },{class:'inline'})

    span.vert-sep(style="margin:0 8px;")
    div#colsel(style="display:inline-block;")
  +treegrid#pth