#qpdata.overflow-auto.flex-1.min-h-0.bg-base-100
  template(data-dg-th)
    th
  template(data-dg-td)
    td
  template(data-dg-tr)
    tr.hover.cursor-pointer
  table.table.table-xs.table-pin-rows
    thead
      tr
    tbody
      template
        tr.hover.cursor-pointer

script: include js/qp_tests_inc.js
