+vsplit('380px')
  +panel('west')
    //-+input({type='hidden' name='PLAN_ID' ID='SEQ_PLAN_ID')

    +fitem('Sequence No',{name:'SEQ_NO',id:'~' , class:'textbox', readonly:"readonly"})
    +fitem('Title',{name:'TITLE',id:'~' , class:'textbox', required:true, prompt:"Procedure Name or Title"})
    +fitem('Reference No',{name:'REF_NO',id:'~' , class:'textbox', prompt:"Document or Drawing Ref No"})
    +fitem('Page # / Grid Ref',{name:'GREF',id:'~' , class:'textbox', prompt:"A1, Page 1, Top-Left etc"})
    +fitem('Measurement Type',{id:'ltype',name:'LTYPE', class:'combobox', required:true})
    +fitem('Gauge Type',{id:'P_GAUGE_TYPE' ,name:'GAUGE_TYPE', class:'combobox',_sqlid:"dqm^gaugeType", "data-gid":"#P_GAUGE_ID"})
    +fitem('Gauge ID',{name:'GAUGE_ID',id:'~', class:'combobox', readonly:"readonly"})


    
    +v-group#valuediv
      +fitem('Unit of Measure',{name:'UOM', _sqlid:"dqm^unit" ,class:"combobox" ,"data-options":"editable:false"})
      +fitem('Upper Limit',{name:'VUPP',id:'~' , class:'numberbox', precision:"5", iconCls:"icon-up", iconAlign:"left"})
      +fitem('Nominal Value',{name:'VNOM',id:'~' , class:'numberbox', precision:"5", iconCls:"icon-right", iconAlign:"left"})
      +fitem('Lower Limit',{name:'VLOW',id:'~' , class:'numberbox', precision:"5", iconCls:"icon-down", iconAlign:"left"})
      //-+numberbox.tol(precision="5" readonly="readonly" data-options="formatter:plus")
      //-.fitem
        label Upper Limit
        +numberbox#VUPP.lim(name='VUPP' precision="5" iconCls="icon-up" iconAlign="left")
        +numberbox.tol(precision="5" readonly="readonly" data-options="formatter:plus")

      //-.fitem
        label Nominal Value
        +numberbox#vnom(name='VNOM' precision="5" value="" iconCls="icon-right" iconAlign="left")

      //-.fitem
        label Lower Limit
        +numberbox#VLOW.lim(name='VLOW' precision="5" iconCls="icon-down" iconAlign="left")
        +numberbox.tol(precision="5" readonly="readonly" data-options="formatter:plus")

    +v-group#booldiv
      +fitem('Pass-Fail Criteria',{id:'~', name:'BOOL_TEXT', class:'textbox'})
      //-.fitem
        label Pass-Fail Criteria
        +textbox#BOOL_TEXT(type='text', name='BOOL_TEXT')

  +panel('center')
    +tabs(data-options="plain:true,fit:true")
      +tab-item("Instructions", {iconCls:"icon-notes"})
        +spec('', {name:'SPEC'})
    //-.fitem
      label Instructions
    //-.fitem#jqfit
      +textbox(name='SPEC' data-options="multiline:true")


script.
  $.page.fn.ltype = function(rec){
    if(!rec) rec = {value:$('#ltype').combobox('getValue')};
    var stat = ['value','bool'];
    for(var i in stat){
      var hs='hide'; if(rec.value==stat[i]) hs='show';
      $('#'+stat[i]+'div')[hs]();
    }

    // Requires
    var req=false; if(rec.value=='value') req=true;
    $('[name="UOM"]').combobox('required',req);
    $('[name="VNOM"]').combobox('required',req);
    $('[name="BOOL_TEXT"]').textbox('required',!req);

  };

  $(function(){

    $('form#qpproc').form({

      success:function(data){
        $.fn.form.defaults.success.call(this, data);
        $('#QPTREE').tree('reload');
      },

      onLoadSuccess:function(data){
        $.fn.form.defaults.onLoadSuccess.call(this, data);
        $.page.fn.ltype();
      }
    })

    $('#TITLE').textbox({
      onChange:function(nv,ov){
        setTimeout(function(){
          var tr = $('#QPTREE');
          var sel = tr.tree('getSelected');
          if (sel && tr.tree('isLeaf', sel.target)){
            var seq = sel.id.split('^')[1];
            if(seq){
              var txt = seq+' - '+nv;
              tr.tree('update',{target:sel.target,text:txt})
            }
          }
        });
      }
    })

    $('#ltype').combobox({data:[{"value":"value","text":"VALUE"},{"value":"bool","text":"PASS-FAIL"}], onSelect:$.page.fn.ltype, panelHeight:'auto'})
    $('#vnom').numberbox({
      onChange:function(nv,ov){
        $('#VUPP').numberbox('setValue',nv);
        $('#VLOW').numberbox('setValue',nv);
      }
    })
    // tolerence calculator
    $('.lim').numberbox({
      onChange:function(nv,ov){
        var me = $(this);
        if($.page.fn.skip){
          $.page.fn.skip = false;
          return;
        }
        var val = parseFloat(nv);
        var nom = parseFloat($('#vnom').numberbox('getValue'));

        if(nv != ''){
          var msg; if(this.id=='VLOW' && val > nom) msg = 'Must be LESS than '+nom;
          else if(this.id=='VUPP' && val < nom) msg = 'Must be GREATER than '+nom;
          if(msg){
            alert(msg);
            $.page.fn.skip = true;
            setTimeout(function(){me.numberbox('setValue',ov);})
          }
          var tol = $(this).nextAll('input.tol');
          var val = (nv-nom).toFixed(5);
          tol.numberbox('setValue',val);
        }
      }
    });
  })
