extends ../content
block script
  script: include js/bhave.js

block content
  mixin usercombo(label,name)
    +fitem(label,{name:name, id:name, class:'combobox user-combo', _sqlid:'dqm^cbo_uid'})
      input(name=name+'_EMAIL' type="hidden" id=name+'_EMAIL')

  +tabs#bhtabs(data-options="tabPosition:'left'")

    +tab-item('CAAS(AW)95',{iconCls:"icon-awe95"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#caas_aw95
        input(type="hidden" name="appid" value="dqm^caas_aw95")
        +fieldset('Combo Items')
          +fitem('Work Status',{name:'CBO_STATUS_WORK', class:'combobox edit first'})

    +tab-item('COC',{iconCls:"icon-coc"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^coc_man")
        +fieldset('NCRs')
          +fitem('Allow Open NCRs',{name:'ALLOW_NCR', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
        +fieldset('COC Resource')
          +fitem('Allow lower Completed qty in prior opnr',{name:'ALLOW_OPEN_OPN', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Allow Unissued Material',{name:'ALLOW_OPN_PART', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Resource ID',{name:'COC_RESOURCE', class:'combobox', 'data-options':"panelHeight:'auto'", _sqlid:'vwltsa^resid'})
          +fitem('Ignored Resources',{name:'COC_IGNORED_RESOURCES', class:'textbox', 'data-options':"multiline:true", style:'height:200px;'})
        +fieldset('User Labels')
          -for (var x=1; x<6; x++)
            +fitem('User Label '+x,{name:'ulabel_'+x, class:'textbox'})

    +tab-item('NCR',{iconCls:"icon-ncr"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^comp^ncr_man")
        +fieldset('Combo Items')
          +fitem('Material Disposition',{name:'DISPOSITION_MATERIAL', class:'dispomat combobox edit'})
        +fieldset('Auto-Created NCR')
          +fitem('Job Ticket Deviated Qty',{name:'newncr_jobticket_badqty', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +usercombo('Default Reported By','newncr_jobticket_reportedby')
        +fieldset('Link Source')
          +fitem('Enforce Valid Job',{name:'enforce_valid_job', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})

    +tab-item('CPAR',{iconCls:"icon-cpar"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^comp^cpar_man")
        +fieldset('Combo Items')
          +fitem('Material Disposition',{name:'DISPOSITION_MATERIAL', class:'dispomat combobox edit'})
        +fieldset('Auto-Created CPAR')
          +fitem('Followup NCR',{name:'newcpar_ncr_followup', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Followup CF',{name:'newcpar_cf_followup', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Enabled Liability Cost',{name:'CPAR_DISPOSITION_LIABILITY_COST', class:'textbox', 'data-options':"multiline:true", style:'height:200px;'})

    +tab-item('CF',{iconCls:"icon-cf"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^comp^cf_man")
        +fieldset('Combo Items')
          +fitem('Material Disposition',{name:'DISPOSITION_MATERIAL', class:'dispomat combobox edit'})

    +tab-item('Operators',{iconCls:"icon-user"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^opcert^operators")
        +fieldset('General')
          +fitem('Default UDF',{class:'combobox', name:'defudf', 'data-options':"panelHeight:'auto'", _sqlid:'vwltsa^udfid'})
        +fieldset('Tab Access')
          +fitem('User Fields',{name:'udfen', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
          +fitem('Resources',{name:'resen', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
          +fitem('Certification',{name:'certen', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
          +fitem('Qualifications',{name:'qualen', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
          +fitem('NCRs',{name:'ncren', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
          +fitem('Attachments',{name:'docen', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
          +fitem('Rating',{name:'rating', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})

    +tab-item('Analysis',{iconCls:"icon-chart"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^comp^analysis")
        +fitem('Start Date',{name:'frdate', class:'datebox year'})
        +fieldset('Defect Labels')
          +fitem('No Code Label',{name:'nonetext', value:'No Code', class:'textbox upper'})
          +fitem('Total Label',{name:'alltext', value:'ALL-DEFECTS', class:'textbox upper'})
          +fitem('Top N Defects',{name:'top', value:3, precision:0, min:1, class:'numberspinner'})
        +fieldset('Report-NCR')
          +fitem('Cost',{name:'NCRCOST', value:500, precision:2, min:100, class:'numberspinner'})
        +fieldset('Report-KPI')
          +fitem('Avg Quote Time',{name:'AVG', value:3, precision:0, min:1, class:'numberspinner'})
          +fitem('Operating Cost',{name:'OPERATING_COST', value:20000, precision:0, min:1, class:'numberspinner'})
          +fitem('MR Folder',{name:'MR_FOLDER', class:'textbox'})

    +tab-item('Gauge Manager',{iconCls:"icon-gauge"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#gaugeman
        input(type="hidden" name="appid" value="dqm^gauges^gauge_man")
        +fieldset('Misc Settings')
          +fitem('Gauge Numbering',{name:'autonum', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'Auto',value:'AUTO',selected:true},{text:'Manual',value:'USER'}]"})
          +fitem('Allow Gauge Rename',{name:'allow_gauge_rename', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'Yes',value:'y'},{text:'No',value:'n',selected:true}]"})
          +fitem('Show Due Alert',{name:'duealert', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'Yes',value:'y',selected:true},{text:'No',value:'n'}]"})
          +fitem('Due Alert Days',{name:'alertdays', value:'7', class:'numberspinner', precision:0})
          +fitem('Outside Diameter',{name:'CBO_OUTSIDE_DIAMETER', class:'combobox edit first', 'data-options':"panelHeight:'auto'"})
        +fieldset('Initial Calibration')
          +fitem('Calibration #1',{name:'caldays1', value:'60', precision:0, class:'numberspinner'})
          +fitem('Calibration #2',{name:'caldays2', value:'120', precision:0, class:'numberspinner'})

    +tab-item('Gauge Trans',{iconCls:"icon-inout"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^gauges^gauge_inv")
        +fieldset('Appearance')
          +fitem('Hide Menu',{name:'fscreen', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
        +fieldset('Check In-Out')
          +fitem('Require Operator',{name:'reqop', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Require Job Ref',{name:'reqjob', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
        +fieldset('Repair/Calibration')
          +fitem('Require Vendor',{name:'reqven', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Require Doc Ref',{name:'reqdoc', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})

    +tab-item('Test Plans',{iconCls:"aicon-org"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')
        input(type="hidden" name="appid" value="dqm^qp^qp_qpman")
        +fieldset('Misc Settings')
          +fitem('Part Type',{name:'partType', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'Part',value:'PART',selected:true},{text:'Job',value:'WORK_ORDER'}]"})
        +fieldset('Last Selection Memory')
          +fitem('Title',{name:'MEM_TITLE', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Doc Ref',{name:'MEM_DOC', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Doc Grid-Ref',{name:'MEM_GREF', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
        +fieldset('Repair/Calibration')
          +fitem('Require Vendor',{name:'reqven', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})
          +fitem('Require Doc Ref',{name:'reqdoc', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n',selected:true},{text:'Yes',value:'y'}]"})

    +tab-item('Resin Coating',{iconCls:"icon-coat-resin"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#coatman
        input(type="hidden" name="appid" value="dqm^qtr^qp_coatman")
        div.two
          div
            +fieldset('Misc Settings')
              +fitem('Job Class',{name:'JOB_CLASS', class:'textbox', value:'DEFAULT'})
              +fitem('Lock Completed',{name:'COMPLETE_LOCK', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
            +fieldset('Main Lists')
              +fitem('Coating Colour',{name:'CBO_COAT_COLOUR', class:'combobox edit first'})
              +fitem('Coating Spec ID',{name:'CBO_COAT_SPEC_ID', class:'combobox edit first'})
              +fitem('Quality Spec',{name:'CBO_QA_SPEC_ID', class:'combobox edit first'})
            +fieldset('Surface Prep Lists')
              +fitem('Solvent Type',{name:'CBO_SURF_SOLV_TYPE', class:'combobox edit first'})
              +fitem('Blast/Grit Type',{name:'CBO_SURF_BLAST_TYPE', class:'combobox edit first'})
          div
            +fieldset('Application Lists')
              +fieldset('Phosphate')
                +fitem('Manufacturer',{name:'CBO_APP_PHOS_MFG', class:'combobox edit first'})
                +fitem('Type',{name:'CBO_APP_PHOS_TYPE', class:'combobox edit first'})
                +fitem('Colour',{name:'CBO_APP_PHOS_COLOUR', class:'combobox edit first'})
              +fieldset('Primer')
                +fitem('Manufacturer',{name:'CBO_APP_PRIMER_MFG', class:'combobox edit first'})
                +fitem('Type',{name:'CBO_APP_PRIMER_TYPE', class:'combobox edit first'})
              +fieldset('Top Coat')
                +fitem('Manufacturer',{name:'CBO_APP_COAT_MFG', class:'combobox edit first'})
                +fitem('Type',{name:'CBO_APP_COAT_TYPE', class:'combobox edit first'})

    +tab-item('Phosphate Coating',{iconCls:"icon-coat-phos"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#phosman
        input(type="hidden" name="appid" value="dqm^qtr^qp_phosman")
        div.two
          div
            +fieldset('Misc Settings')
              +fitem('Job Class',{name:'JOB_CLASS', class:'textbox', value:'DEFAULT'})
              +fitem('Lock Completed',{name:'COMPLETE_LOCK', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
              +fitem('Final Inspection',{name:'PHOS_FI', class:'combobox', 'data-options':"panelHeight:'auto'", _sqlid:'vwltsa^resid'})
            +fieldset('Surface Prep Lists')
              +fitem('Solvent Type',{name:'CBO_SURF_SOLV_TYPE', class:'combobox edit first'})
              +fitem('Rinse Break Comply',{name:'CBO_SURF_RINSE_COMPLY', class:'combobox edit first'})
              +fitem('Optional Treatment',{name:'CBO_SURF_OPT_TREAT', class:'combobox edit first'})
            +fieldset('Application Lists')
              +fitem('Manufacturer',{name:'CBO_APP_PHOS_MFG', class:'combobox edit first'})
              +fitem('Type',{name:'CBO_APP_PHOS_TYPE', class:'combobox edit first'})
              +fitem('Colour',{name:'CBO_APP_PHOS_COLOUR', class:'combobox edit first'})
              +fitem('Material',{name:'CBO_APP_PHOS_MATL', class:'combobox edit first'})
              +fitem('Tank Condition',{name:'CBO_APP_PHOS_TANK', class:'combobox edit first'})
          div
            +fieldset('Main Lists')
              +fitem('Coating Colour',{name:'CBO_COAT_COLOUR', class:'combobox edit first'})
              +fitem('Coating Spec ID',{name:'CBO_COAT_SPEC_ID', class:'combobox edit first'})
              +fitem('Quality Spec',{name:'CBO_QA_SPEC_ID', class:'combobox edit first'})
            +fieldset('Inspection Lists')
              +fitem('Requirement',{name:'CBO_INS_STD_REQD', id:'~', class:'combobox edit first'})
              +fitem('Frequency',{name:'CBO_INS_STD_FREQ', class:'combobox edit first'})
              +fitem('Method',{name:'CBO_INS_VIS_METHOD', class:'combobox edit first'})
              +fitem('Maginification',{name:'CBO_INS_VIS_MAG', class:'combobox edit first'})
              +fitem('Colour Uniformity',{name:'CBO_INS_VIS_COLOUR', class:'combobox edit first'})
              +fitem('Grain Size',{name:'CBO_INS_VIS_GRAIN', class:'combobox edit first'})
              +fitem('Crystaline Precsence',{name:'CBO_INS_VIS_PRESCENCE', class:'combobox edit first'})
              +fitem('Compliance',{name:'CBO_INS_VIS_COMPLY', class:'combobox edit first'})
              +fitem('Method',{name:'CBO_INS_VIS_METHOD', class:'combobox edit first'})
              +fitem('Adhesion',{name:'CBO_INS_ADH_COMPLY', class:'combobox edit first'})

    +tab-item('Qualificatn Manager',{iconCls:"icon-qtest"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#quaman
        input(type="hidden" name="appid" value="dqm^qualification_man")
        +fitem('Type',{name:'CBO_TYPE', class:'combobox edit first'})
        +fitem('Class',{name:'CBO_CLASS', class:'combobox edit first'})
        +fitem('Status',{name:'CBO_STATUS', class:'combobox edit first'})
        +fieldset('General')
          +fitem('Default UDF',{class:'combobox', name:'defudf', 'data-options':"panelHeight:'auto'", _sqlid:'vwltsa^udfid'})
        +fitem('Method',{name:'CBO_METHOD', class:'combobox edit first'})
        +fitem('License Owner',{name:'CBO_LICENSOR_OWNER', class:'combobox edit first'})
        +fitem('Result',{name:'CBO_RESULT', class:'combobox edit first'})

    +tab-item('Everslik Coating',{iconCls:"icon-coat-ever"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#everslik
        input(type="hidden" name="appid" value="dqm^qtr^qp_everslik")
        div.two
          div
            +fieldset('Misc Settings')
              +fitem('Job Class',{name:'JOB_CLASS', class:'textbox', value:'DEFAULT'})
              +fitem('Lock Completed',{name:'COMPLETE_LOCK', class:'combobox', 'data-options':"panelHeight:'auto', data:[{text:'No',value:'n'},{text:'Yes',value:'y',selected:true}]"})
              +fitem('Pre-inspect Note',{name:'PRE_INSPECT_NOTES', class:'textbox', 'data-options':"multiline:true", style:'height:100px;'})
              +fitem('Cleanliness Spec',{name:'SURF_CLEAN_SPEC', class:'textbox'})
            +fieldset('Main Lists')
              +fitem('Coating System',{name:'CBO_COAT_SYSTEM', class:'combobox edit first'})
              +fitem('Coating Spec ID',{name:'CBO_COAT_SPEC_ID', class:'combobox edit first'})
            +fieldset('Surface')
              +fitem('Solvent Pre-Clean Type',{name:'CBO_SURF_SOLV_TYPE', class:'combobox edit first'})
              +fitem('Blast Type',{name:'CBO_SURF_BLAST_TYPE', class:'combobox edit first'})
              +fitem('Blast Method',{name:'CBO_SURF_BLAST_METHOD', class:'combobox edit first'})
              +fitem('Orig Surface',{name:'CBO_SURF_BLAST_ORIG_SURF', class:'combobox edit first'})
              +fitem('Method Measure Anchor',{name:'CBO_SURF_ANCH_METHOD', class:'combobox edit first'})
              +fitem('Cleanliness Reqmt',{name:'CBO_SURF_CLEAN_REQUIREMENT', class:'combobox edit first'})
              +fitem('Cleanliness Compliance',{name:'CBO_SURF_CLEAN_COMPLY', class:'combobox edit first'})
            +fieldset('Inspection - Base Coat')
              +fitem('Unit Thickness',{name:'CBO_INSPECT_FINAL_BASE_UNIT_THICKNESS', class:'combobox edit first'})
            +fieldset('Inspection - Top Coat')
              +fitem('Unit Thickness',{name:'CBO_INSPECT_FINAL_TOP_UNIT_THICKNESS', class:'combobox edit first'})
          div
            +fieldset('Application Lists - Phosphate')
              +fitem('Manufacturer',{name:'CBO_APP_PHOS_MFG', class:'combobox edit first'})
              +fitem('Type',{name:'CBO_APP_PHOS_TYPE', class:'combobox edit first'})
              +fitem('Colour',{name:'CBO_APP_PHOS_COLOUR', class:'combobox edit first'})
            +fieldset('Application Lists - Base Coat')
              +fitem('Manufacturer',{name:'CBO_APP_BASE_COAT_MFG', class:'combobox edit first'})
              +fitem('Type',{name:'CBO_APP_BASE_COAT_TYPE', class:'combobox edit first'})
              +fitem('Solvent',{name:'CBO_APP_BASE_COAT_SOLVENT', class:'combobox edit first'})
            +fieldset('Application Lists - Top Coat')
              +fitem('Manufacturer',{name:'CBO_APP_TOP_COAT_MFG', class:'combobox edit first'})
              +fitem('Type',{name:'CBO_APP_TOP_COAT_TYPE', class:'combobox edit first'})
              +fitem('Solvent',{name:'CBO_APP_TOP_COAT_SOLVENT', class:'combobox edit first'})

    +tab-item('Training Sessions',{iconCls:"aicon-classroom"})
      form.single.load(_sqlid='admin^bhave' asdpx='s')#sessions
        input(type="hidden" name="appid" value="dqm^opcert^sessions")
        +fieldset('Misc Settings')
          +fitem('Form Spec',{name:'FORM_BOTTOM_SPEC', class:'textbox', 'data-options':"multiline:true", style:'height:100px;'})

    +custom('oms')
      +tab-item('Rental',{iconCls:"icon-money"})
        form.single.load(_sqlid='admin^bhave' asdpx='s')#rentman
          input(type="hidden" name="appid" value="dqm^gauges^rent_man")
          +fitem('Freight Company',{name:'CBO_FREIGHT_CO', class:'combobox edit first', 'data-options':"fields:[{'type':'textbox','label':'Name', 'id':'text'}]"})
          +fitem('User Field Labels',{name:'LBL_UDF', class:'combobox edit first', 'data-options':"fields:[{'type':'textbox','label':'ID', 'id':'value','readonly':true},{'type':'textbox','label':'Label', 'id':'text'}]"})
          +fitem('TBA Job Warning',{class:'combobox', name:'TBA_WARNING', 'data-options':"data:[{text:'Yes', value:'y',selected:true},{text:'No', value:'n'}]"})
          +fitem('Allow TBA Invoicing',{class:'combobox', name:'TBA_INVOICING', 'data-options':"data:[{text:'Yes', value:'y',selected:true},{text:'No', value:'n'}]"})
          +fitem('Rental ID is PR ID',{class:'combobox', name:'PRID_CLONE', 'data-options':"data:[{text:'Yes', value:'y',selected:true},{text:'No', value:'n'}]"})
