extends ../content 
block script 
  //-+script("dqm",["js/cf_man.config.js","js/ncr_main.inc.js"])
  script: include js/cf_man.config.js
  script: include js/ncr_main.inc.js
block content
  -var ptype = 'cf'
  include _ncr_inc.pug