extends ../content 

block content 
  +vsplit()
    +panel('west')
      +hsplit('4em')
        +fitem('Plan ID',{id:'QPID',class:'searchbox', required:true,sbref:"qp_ids"})
        ul#QPTREE.mt-2

    +panel('center')
      +tabs#MAINTAB.offx(data-options="fit:true,showHeader:true")
        +tab-item("Plan",{iconCls:'icon-gear'})
          form(_sqlid="dqm^qpplan" mode="add" asdpx="nx")#qpplan
            include _qp_form_plan.pug

        +tab-item("Procedure",{iconCls:'icon-edit'})
          form(_sqlid="dqm^qpproc" mode="add" asdpx="nx")#qpproc
            //-input(typez='hidden', name='PLAN_ID')#PLAN_ID
            include _qp_form_seq.pug

  div.hidden
    #addmenu
      div(iconCls="icon-add") Plan
        div
          div(name="PART" iconCls="icon-gear") Part
          div(name="GAUGE" iconCls="icon-gauge") Gauge
          div(name="CLONE" iconCls="icon-add") Clone
            div
              div(name="CLONEPART" iconCls="icon-gear") Part
              div(name="CLONEGAUGE" iconCls="icon-gauge") Gauge    
      div(iconCls="icon-insert" name="PROC" disabled="true") Procedure

    +dialog#CLONEPLAN(title="Clone Options" data-options="closed:true,modal:true")
      form#clone
        +fitem('Source Plan',{id:'plan_id',class:'combobox', required:true})
        //-.fitem
          label Source Plan
          +combobox#plan_id(required="required")
        div#CLONEPART.hidden
          +fitem('Part ID',{id:'CLONE_PART_ID',class:'combobox', required:true})
          //-.fitem
            label Part ID
            +combobox#CLONE_PART_ID( data-options="editable:false")
        div#CLONEGAUGE.hidden
          +fitem('Gauge Type',{id:'CLONE_GAUGE_TYPE',class:'combobox', required:true,"data-options":"editable:false"})
          //-.fitem
            label Gauge Type
            +combobox#CLONE_GAUGE_TYPE(_sqlid="dqm^gaugeType" data-options="editable:false")
        div.text-center.mt-3  
          +button.page.cloneplan(data-options="iconCls:'icon-add',onClick:function(){$.page.fn.cloneplan()}")
          +button#CLONEPLAN_close.dialog(data-options="iconCls:'icon-cross',onClick:function(){$('#CLONEPLAN').dialog('close')}")

    div#trmenu.hidden(style="display:none")
      div(name="seqin" data-options="iconCls:'icon-insert'") Insert Above

    +dialog#cplanopt(title="Copy Plan" data-options="closed:true,modal:true")
      form#copy_plan 
        +fitem('PLAN ID',{id:'SOURCE_PLAN_ID',class:'textbox', required:true})
        +fitem('Target Site ID',{id:'TARGET_SITE_ID',name:'',class:'combobox',style:'',required:true, 'data-options':"validType:'length[1,50]'"})
        
        div.text-center.mt-3  
          +button.page.copyplan(data-options="iconCls:'icon-add',onClick:function(){$.page.fn.copyplan()}")
          +button#cplanopt_close.dialog(data-options="iconCls:'icon-cross',onClick:function(){$('#cplanopt').dialog('close')}")

      

  script: include js/qp_qpman.js