extends ../content 
block script 
  script: include js/dg_wostat.js
block content
  #max-grid(asdpx='')
    .datagrid-filter.static
      label Resource
      +combobox#resid.all( _sqlid = "vwltsa^resourceid" name='RESOURCE_ID')
      label Filter
      +combobox#filter(style='width:120px;' name="filter")
        option(value="") - None -
        option(value="started") Started
        option(value="active") Active
        option(value="complete") Completed
        option(value="today") Today
        option(value="tweek") Week
        option(value="month") Month
  include dg_filter.inc.pug