
+layout({border:false})         
  +panel('center', {  })
    +tabs(data-options="fit:true")
        div(title="Goods" style="padding:2px;")
          #PO_LIST_DG
        div(title="Services" style="padding:2px;")
          #PO_LIST_SV
script(type="text/javascript"): include js/purchase_order_list.js