extends ../content 
block content 
  +tabs#main(data-options="fit:true")
    //#global(title='Behavior' style="margin-top:12px;")
    div(title='Behavior')
      //-form#vwlt_global.single(asdpx='xs' mode="get")
      form#global.single.load(_sqlid="vwltsa^vwlt" asdpx='xs')
        div.two
          div(style="width:420px;height:600px;")
            +input({name:'_class', type:'hidden',value:'global'})
            +fieldset('Global Settings')
              +fitem('Edition',{id:'edition',name:'vweblt_edition', class:'combobox','data-options':"readonly:true,data:[{text:'VWEBLT-VM',value:'VWEBLT-VM'},{text:'VWEBLT-VJ',value:'VWEBLT-VJ'},{text:'VWEBLT-STD',value:'VWEBLT-STD'}]"})
              +fitem('VM Version',{name:'ve', class:'combobox','data-options':"readonly:true,data:[{text:'VM 6.3.8',value:'VM638'},{text:'VM 6.5.x',value:'VM654'},{text:'VM 7.1.x',value:'VM710'}]"})
              +fitem('Default Language',{name:'DefaultLang', class:'combobox','data-options':"readonly:true,data:[{text:'English',value:'eng',selected:true},{text:'Chinese',value:'chs'},{text:'Thai',value:'tha'},{text:'Malay',value:'mal'},{text:'Vietnamese',value:'vie'}]"})
              +fitem('Indirect Code',{_sqlid:"vwltsa^indid",id:'indid',name:'IndirectCode', class:'combobox','data-options':"editable:false"})
              +fitem('Site ID',{name:'site_id', class:'textbox' ,required:true})
              +fitem('Operator B/C Prefix',{name:'bcp_emp', class:'textbox' ,required:true})
              +fitem('Job B/C Prefix',{name:'bcp_wot', class:'textbox' ,required:true})
              +fitem('Max Shift Hrs',{name:'DurationThreshold', class:'numberspinner', min:1, max:24,increment:1,precision:0 ,'data-options':"editable:false"})
              +fitem('Resource UDF',{name:'ResourceUpdateField', class:'numberspinner', min:1, max:10,increment:1,precision:0,'data-options':"editable:false"})
              +fitem('Idle Reset Secs',{name:'win_reset', class:'numberspinner', min:30, max:120,increment:15,precision:0,'data-options':"editable:false"})
        
          div(style="width:420px;height:600px;")
            +fieldset('Operation Rules')
              +fitem('Max Qty Exceed %',{name:'global_pct_threshold', class:'numberspinner', min:100, max:200,increment:10,precision:0 ,'data-options':"editable:false"})
              +fitem('Allow Multi-Jobs',{name:'job_multi', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Previous Shift Fix',{name:'thr_reset', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Prevent Negative Qty',{name:'prevent_neg_qty', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true',selected:true},{text:'False',value:'false'}]"})
              +fitem('Shift Fix Excl Subcon',{name:'thr_exclude_subcon', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Use Deviation Codes',{name:'job_devn', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Resource Overides',{name:'alt_res', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Enforce Previous Qty',{name:'prev_opn_qval', class:'combobox', 'data-options':"editable:false,data:[{text:'False',value:'false'},{text:'Previous Closed',value:'prevclosed'},{text:'Previous By Qty',value:'prevqty'}]"})
              +fitem('Enforce Operator Res',{name:'operator_resources', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('AutoIssue Qty Check',{name:'autoissue_qval', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Allow Setup After Run',{name:'setup_after_run', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Enable Run Start-Stop',{name:'runss_en', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Use Paperless Mode',{name:'paperless', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})
              +fitem('Opn List Ordering',{name:'opnlist_ordering', class:'combobox', 'data-options':"editable:false,data:[{text:'Scheduled Start Date',value:'D'},{text:'Alphabetical',value:'A'}]"})

        
    div(title='Database')
      //-form#vwlt_db.single(asdpx='s')
      form.single.load(_sqlid="vwltsa^vwlt" asdpx='xs')
        +input({name:'_class', type:'hidden',value:'db'})
        +fitem('Sql Server IP',{name:'server', class:'textbox' })
        +fitem('Datababse Name',{name:'database', class:'textbox' })
        +fitem('User Name',{name:'userName', class:'textbox' })
        +fitem('User Password',{name:'password', class:'textbox',type:'password' })
        +fitem('SQL Server 2000',{name:'sql2000', class:'combobox', 'data-options':"editable:false,data:[{text:'True',value:'true'},{text:'False',value:'false'}]"})

    
    div(title='License')
      //-form#vwlt_license.single(asdpx='s')
      form.single.load(_sqlid="vwltsa^vwlt" asdpx='xs')
        +input({name:'_class', type:'hidden',value:'license'})
        +fitem('MAC Address',{name:'mac', class:'textbox',readonly:true })
        +fitem('License Key',{name:'key', class:'textbox' })
        +fitem('User Count',{name:'count', class:'textbox',readonly:true })


    div(title='Devices')
      form#devices.multi(asdpx='asdx' _sqlid='vwltsa^device')
        +fitem('Device ID',{_sqlid:'vwltsa^deviceids', name:'macid', class:'combobox fkey fit'})
        +fitem('Location',{name:'locn', class:'textbox', required:true})
        +fitem('Name',{name:'name', class:'textbox', required:true})
        +fitem('LAN IP Address',{name:'ip', class:'textbox'})
        +fitem('SSH IP:Port',{name:'notes', class:'textbox'})
        
        +fieldset('IOT Devices')
          +fitem('WO Reference',{name:'woref', class:'textbox'})
          +fitem('Employee ID',{name:'empid', class:'textbox'})
          +fitem('Trigger Frequency',{name:'freq', class:'numberspinner','data-options':"min:1,value:5"})
          +fitem('Trigger Type',{name:'freq_type', class:'combobox', 'data-options':"editable:false,data:[{text:'time',value:'time'},{text:'qty',value:'qty'}]"})
    if $.codata.couid == 'dis'
      +custom('dis')
        +dis_vweb_mac2key()