//- ── MIGRATOR ──────────────────────────────────
//- page: vwltsa/sa_shiftor
//- owner: root
//- status: clean
//- passes: 1  version: 8
//- last_run: 2026-02-28 18:52:27
//- ─────────────────────────────────────────────
//-
  PAC 171220 2.2.1
  1. New Page

#dgoride(style="border:none;")
style .datagrid-cell-group {background-image: none;}
script(type="text/javascript"): include js/sa_shiftor.js