mixin loading(opts)
  - opts = opts || {}
  - const cls = ['dp-loading', 'loading', opts.variant && `loading-${opts.variant}`, opts.size && `loading-${opts.size}`, opts.color && `text-${opts.color}`, opts.class].filter(Boolean).join(' ')
  span(class=cls)&attributes(attributes)
