mixin status(opts)
  - opts = opts || {}
  - const cls = ['dp-status', 'status', opts.color && `status-${opts.color}`, opts.size && `status-${opts.size}`, opts.class].filter(Boolean).join(' ')
  div(class=cls)&attributes(attributes)
