extends ../content
block content
  +tabs({style: 'min-width:800px;', fit: "true"})        
    div(title='VMI')
      +form({_sqlid: 'admin^bhave', asdpx: 's'})
        +input({name:'appid', type:'hidden',value:'vmfg^trend_mi'})
        +fitem('Some Setting',{name:'xxx', class:'numberspinner' , value:'200', min:10, precision:0})