extends ../content
block content
  +tabs(style='min-width:800px;' fit="true")
  //-div(title='XXX' iconCls="icon-")  
    form.single.load(_sqlid='admin^bhave' asdpx='s')
      +input({name:'appid', value:'pentaho', type:'hidden'})